<h1>Login</h1>

<%= form_for(:user, :method => 'patch') do |f| %>
    <p>
      <%= f.label :login %><br />
      <%= f.text_field :login %>
    </p>
    <p>
      <%= f.label :password %><br />
      <%= f.text_field :password %>
    </p>
    <p>
      <%= f.hidden_field :id %>
      <%= f.submit %>
    </p>
<% end %>