<h1>Listing posts</h1>

<%= render 'users/links' %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.text %></td>

        <td><%= link_to 'Show', post %></td>
        <% if is_logged_in %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post_path(post),
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<% if is_logged_in %>
    <%= link_to 'New post', new_post_path %>
<% end %>